@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
#header1-b P {
  font-size: 20px;
  text-align: right;
}
#header1-b H1 {
  text-align: right;
}
#header1-b I {
  font-size: 48px;
}
#header1-b .btn {
  font-size: 16px;
}
#social-buttons1-x .mbr-header__text {
  color: #ffffff;
}

#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1 .mbr-brand__name a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
#msg-box1-18 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-18 .mbr-article {
  color: #fff;
  text-align: left;
  font-size: 18px;
}
#msg-box1-18 .mbr-article I {
  font-size: 15px;
}

#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
#slider-14 P {
  text-align: right;
}
#social-buttons1-15 .mbr-header__text {
  color: #ffffff;
}

#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-4 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-4 .mbr-brand__name a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
#slider-16 P {
  text-align: right;
  font-size: 20px;
}
#social-buttons1-17 .mbr-header__text {
  color: #ffffff;
}

#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-6 .mbr-brand__name a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
#slider-13 H1 {
  text-align: right;
}
#slider-13 P {
  text-align: right;
  font-size: 20px;
}
#content1-1k P {
  font-size: 18px;
  text-align: left;
}
#social-buttons1-1d .mbr-header__text {
  color: #ffffff;
}

#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-7 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
#social-buttons1-1w .mbr-header__text {
  color: #ffffff;
}

#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-9 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-9 .mbr-brand__name a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
#gallery1-11 SMALL {
  font-size: 13px;
}
#social-buttons1-1h .mbr-header__text {
  color: #ffffff;
}
